h1 {
    margin: 0;
    padding: 16px;
    color: white;
}

.container {
    position: inherit;
    height: calc(100vh - 140px);   
    overflow: scroll;
    bottom: 0;
    padding-bottom: 64px;
}

.project {
    background: #25261D;
    color: white;
    margin: 8px;
    padding: 16px;
    border-radius: 4px;
    border-left: #F00 16px solid;
}

.project p {
    margin: 0;
}

.project-name {
    font-weight: bold;
}

.project-client {
    opacity: .8;
}

.add-project {
    position: absolute;
    bottom: 64px;
    right: 16px;
    background-color: #3F55C9;
    color: white;
    padding: 8px 16px;
    font-weight: bold;
    text-align: center;
    transition: .15s;
    border-radius: 4px;
    user-select: none;
}

.add-project:hover {
    transform: scale(1.1);
    box-shadow: 0 0 15px black;
    transition: .15s;
}

li {
    margin: 4px 0;
    border-radius: 4px;
    padding: 4px;
    display: flex;
}

li:hover {
    background-color: #161810;
}

li input {
    color: white;
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    transition: .15s;
    width: auto;
    flex-grow: 1;
}

li input:focus {
    border-bottom: 2px solid white;
    transition: .15s;
}

.elapsed-time {
    font-family: 'Roboto Mono';
    background-color: #161810;
    padding: 4px 8px;
    margin: 0 8px 0 0;
    border-radius: 4px;
}

.total-time {
    position: relative;
    font-weight: bold;
    font-family: 'Roboto Mono';
    background-color: #161810;
    padding: 8px 12px;
    border-radius: 4px;
    right: 0;
    float: right;
    display: block;
}